.card-roxo-button {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  background-color: rgb(147, 30, 147);
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
